body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    transition: background-color 1s, color 1s;
}

header {
    text-align: center;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-text-fill-color: White ;
    background: rgb(212,206,0);
    background: radial-gradient(circle, rgba(212,206,0,1) 0%, rgba(0,0,0,1) 100%);
    padding : 0.1em ;
}

img{
    border-width: 6px;
    border-style: outset;
    border-radius: 100px;
    border-color: black;
}

section {
    text-align: center;
    margin: 10px;
}

ul {
    list-style-type: circle;
    padding: 0;
}

footer {
    text-align: center;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-text-fill-color: White ;
    background: rgb(212,206,0);
    background: radial-gradient(circle, rgba(212,206,0,1) 0%, rgba(0,0,0,1) 100%);
    padding: 1em;
}